@font-face

{

    font-family: 'BallparkWeiner';

    src: url('polices/ballpark.eot');

    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),

         url('polices/ballpark.woff') format('woff'),

         url('polices/ballpark.ttf') format('truetype'),

         url('polices/ballpark.svg#BallparkWeiner') format('svg');

    font-weight: normal;

    font-style: normal;

}


@font-face

{

    font-family: 'Dayrom';

    src: url('polices/dayrom.eot');

    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),

         url('polices/dayrom.woff') format('woff'),

         url('polices/dayrom.ttf') format('truetype'),

         url('polices/dayrom.svg#Dayrom') format('svg');

    font-weight: normal;

    font-style: normal;

}

body

{

    background: url('zozor/images/fond_jaune.png');

    font-family: 'trebuchet ms', Arial, sans-serif;

    color: #181818;
}

#bloc_page

{

    width: 95%;

    margin: auto;

}

header

{

    border: ridge red 5px;

    border-radius: 10px;

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    box-shadow: 0 4px 8px 0 grey;

}

#logo  /*  le coin du logo + zozor*/

{

    display: flex;

    align-items: baseline;

}

header h1 /* zozor */

{

	color: red;

    font-family: 'BallparkWeiner', serif;

    font-size: 2.5em;

    font-weight: normal;

    margin: 0 0 0 10px;

}

#titre_principal /* logo + zozor + carnets de voyage*/

{

      margin:10px;    

}

#bandeau /* photo + info*/

{  

    position: relative;

    background: url('zozor/images/sanfrancisco.jpg') no-repeat;

    background-size: cover;

    height:300px;

    border-radius: 10px;

    margin-top: 15px;

    margin-bottom: 15px;

}

#bandeau_info

{

    position: absolute;
    
    bottom: 0;

	padding: 10px;

	background-color: #1c151f;

	opacity: 0.5;

	color: white;

	height: 50px;
    
    width: 98%;

    border-bottom-left-radius: 10px;
    
    border-bottom-right-radius: 10px;
}

#bandeau_info a  /*  voir article* */

{

    position: absolute;

    bottom: 5px;

    right: 5px;

	background-image: linear-gradient(red 10%,white);

	color: white;

	width: 150px;

	height: 30px;

	text-align: center;

	border-radius: 10px;

}


nav ul /*  acceuil  blog  cv  contact*/

{

    margin: 10px;

    display: flex;

    flex-direction: row;

    border-radius: 10px;

    padding: 5px;

}

nav a/* le coin acceuil blog cv contact*/

{

    font-size: 1.3em;

    color: #181818;

    padding-bottom: 3px;

    text-decoration: none;

    margin: 10px;

}

nav a:hover

{

    color: #760001;

    border-bottom: 3px solid #760001;

}

nav li

{

    list-style-type:none;

    margin: 3px; 

}

section

{
    
    display: flex;
    
    flex-direction: row;
    
    justify-content: space-between;
    
}

article 

{
    
    display: flex;
    
    flex-direction: column;
    
   text-align: justify;
    
    margin-right: 10px;
    
    width: 73%;
    
}

aside

{
    position: relative;
    
    display: flex;
    
    margin-left: 10px;
    
    background-color: #5a5b61;
    
    color: white;
    
    padding: 10PX;
    
    border-radius: 10px;
    
    width: 23%;
    
    height: 420px;
    
}

.image_bulle
{

    position: absolute;

    top: 40px;

    left: -12px;
}


.reso

{   
    display: flex;

    flex-direction: row;

    justify-content: space-between;
    
    list-style-type: none;
    
}


#zozor_image

{
    
    display: block;
    
    margin-right: auto;
    
    margin-left: auto;
    
    border: black solid 1px;
    
}

footer

{
    
    display: flex;
    
    justify-content: space-between;
    
    align-content: flex-start;
    
}

#liste_photos

{
    
    display: flex;
    
    flex-direction: row;
    
    justify-content: space-between;
    
    width: 320px ;
    
}

#liste_amis

{
    
    display: flex;
    
    
    
}

#espace_tweet

{
    
   width: 33%;
    
}

#photos

{
    
    width: 33%;
    
}

#mes_amis

{
    
    width: 33%;
    
}